*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat;
    
}
header{
    position:sticky;

}
.navbar{
    background:rgb(1, 3, 36);
    padding-right: 15px;
    padding-left: 15px;
    
}
.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
a.active,a:hover{
    background: #033147;
    transition: .5s;
}
section{
    background: url(Image/fig11.png);
    /* background-size: cover; */
    /* height: auto; */
    
}
.button{
    background-color: #256d04;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    width: 120px;
}
.button a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;

}

footer{
    background: linear-gradient(270deg, #09033b,#3a3c3d);
    margin-top: 0px;
    height: 200px;
    width: auto;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    
}
footer p{
    font-size: 10px;
}

body{
    font-family: "Montserrat", serif;

}
a:hover{
    background: #3a3c3d;
    transition: .5s;
}
.img-fluid{
    width: 750px;
    height: auto;
    margin-left: 300px;
    
    
}
@media screen and (max-width: 1024px) {
    .img-fluid{
        flex-direction: column;
        width: 95%;
        margin-left: 10px;
    }
    .container-about img{
        flex-direction: column;
        width: 95%;
        margin-left: 12px;
    }
    .inbg3{
        font-size: small;
    }
    .logo a{
        font-size: medium;
    }
    li a{
        font-size: 8px;
        
    }
    .container-about{
        display: flex;
        color: black;
        background-color: rgb(17, 31, 66);
    
    }
    
    
}
.youtube{
    width:365px;
    height:80;
    align-items: center;
}
.inbg1{
    height: 45px;
    text-align: center;
    color: black;
    background-color: rgb(240, 207, 24);
    margin-bottom: 0px;
}
.inbg2 {
    
    padding: 0px;
    padding-bottom: 2%;
    margin-top: 0;
    margin-bottom: 0px;
    height: 10px;
    text-align: center;
    color: #fff;
    background-color: rgb(3, 36, 19) ;
}    
.inbg3 {
    padding: 20px;
    padding-bottom: 2%;
    margin-top: 0;
    margin-bottom: 0px;
    height: 180px;
    text-align: left;
    color: #fff;
    background-color: rgb(3, 36, 19) ;
}    
.container1{
    padding-left: 45px;
    

}


.socials-container {
    margin-left:10px;
    display: flex;
    gap: 32px;
    

}
/*.socials-container a{
    background-color: #fff;
    padding: 1em;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    flex-shrink: 0;
    place-items: center;
    box-shadow: 0  5px 10px rgba(0, 0, 0, 0.05);

}*/
.socials-container a svg {
    height: 32px;
    gap: 32px;
}
.socials-container a::before{
    content: attr(data-social);
    position:absolute;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px rotate(25deg));
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover{
    background-color: var(--accent-color);
    fill: white;
}
.socials-container a:hover svg{
    fill: white;
}
.socials-container a::after{
    content: '';
    position:absolute;
    height: 0;
    width: 0;
    transform: translateY(0) rotate(25deg);
    opacity: 0; 
    transition: 200ms cubic-bezier(.42,0,.44,1.68);

}
.socials-container a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;

}
.socials-container a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;

}

/*policy*/

.container-policy{
    align-items: center;
    color: rgb(9, 105, 6);
    background: url(Image/fig10.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(100%);
    padding-left: 30px;
    padding-right: 30px;
}

/* reviews */

.reviews img{
    width:700px ;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 320px;

}
.reviews h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 8px;
    color: #fff;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #bd8d09;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    
}
.card img{
    height: 325px;
    width: auto;

}

.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;

}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.container-reviews{
    margin-left: 110px;
    margin-bottom: 30px;
}
.card1{
    width: 325px;
    background-color: #bd8d09;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}   
.card1 img{
    height:325px ;
    width:auto ;
}
/* about */
.container-about{
    display: flex;
    /* color: black; */
    /* background-color: rgb(17, 31, 66); */

}
.description-container-about h1{
    font-size: 32px;
    color: #fff;
}
.description-container-about h2{
    font-size: 32px;
    color: #fff;
}
.description-container-about p{
    font-size: 20px;
    color: #fff;
}

.description-container-about{
    max-width: 800px;
    margin: 0px auto 0px;
   
}
.description-container-about{
    text-align: justify;
}
.description-container-about .floating-image{
    max-height: 450px;

}
.description-container-about .floating-image.right{
    float: right;
    margin-left: 35px;
    margin-bottom: 10px;

}

.description-container-about .floating-image.left{
    float: left;
    margin-right: 35px;
    margin-bottom: 10px;

}

